body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
	width: 300px;
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
	width: 275px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.btn {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	background-color: rgb(0, 102, 255);
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #0051b3;
}

.role {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6px;
	margin-bottom: 15px;
}

.role div {
	display: flex;
}

.big-container {
	display: grid;
	grid-auto-flow: row;
	place-items: center;
	margin:auto;
}

.logo-container {
	display: grid;
	grid-template-columns: max-content max-content;
	margin:auto;
}

.logo {
	width: 64px;
	aspect-ratio: 1 / 1;
	margin:auto;
}