* {
	font-family: Arial, Helvetica, sans-serif;
}

body,
html {
	background-color: #ffffff;
	min-height: 100vh;
}

#opportunities-container {
	margin-top: 50px;
	display: grid;
	width: 100%;
	place-items: center;
}

#search-opportunities {
	border-radius: 2rem;
	outline: none;
	border: none;
	font-size: 24px;
}

#opportunities-list {
	display: grid;
	grid-auto-flow: row;
	grid-gap: 10px;
	width: 80%
}

.opportunity {
	text-decoration: none;
	width: 100%;
	border-radius: 15px;
	/* background-color: rgb(60, 138, 71); */
	background: linear-gradient(to right, hsl(98, 52%, 76%), hsl(185, 38%, 39%));
	text-align: center;
	color: white;
	margin-block: 5px;
}

#search-container {
	display: grid;
	width: max-content;
	grid-template-columns: max-content max-content;
	gap: 20px;
	background-color: white;
	padding: 4px;
	border-radius: 6px;
}

#submit-button {
	margin-top: 0;
	/* Set an appropriate value */
	height: 35px;
	width: 35px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	display: flex;
	/* or display: grid */
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
}

#submit-button img {
	width: 30px;
	aspect-ratio: 1 / 1;
}